.feedbacks-wrapper {
    width: 100%;
    padding: 100px 0 100px;
    background-image: url(../img/Sections_background/section-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedbacks-title {
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.feedbacks-content-wrapper {
    display: none;
}

.feedbacks-content-wrapper.active {
    display: block;
    width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-content {
    margin: 36px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #BBBBBB;
}

.person-name {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.job-title {
    margin-bottom: 38px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 27px;
    text-align: center;
    color: #BBBBBB;
}

.person-img-wrapper {
    width: 166px;
    height: 166px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(31, 218, 181, 0.2);
    border-radius: 100px;
}

.person-img {
    width: 146px;
    height: 146px;
}

.person-card-wrapper {
    position: relative;
    width: 100%;
    height: 70px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.arrow {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    background: none;
    border: 1px solid #BBBBBB;
    cursor: pointer;
    transition: .1s;
}

.arrow-first {
    padding-left: 9px;
}

.arrow-second {
    justify-content: end;
    padding-right: 9px;
}

.person-card {
    position: relative;
    width: 70px;
    height: 70px;
    cursor: pointer;
}

/* .person-card.active :first-child {
    position: absolute;
    bottom: 10px;
} */

.person-card-img {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    border-radius: 100px;
}

.person-card-img.active {
    position: absolute;
    bottom: 10px;
}

.person-card-img:hover {
    position: absolute;
    bottom: 10px;
}

.arrow:hover {
    border: 1px solid #18CFAB;
    background-color: #18CFAB;
}

.arrow:hover svg path {
    fill: white;
}