.four-options {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 370px;
}

.first-option-wrapper, .third-option-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2A33;
}

.second-option-wrapper, .fourth-option-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #18CFAB;
}

.first-option-svg, .third-option-svg {
    margin-top: 85px;
}

.second-option-svg, .fourth-option-svg {
    margin-top: 95px;
}

.firsrt-option-title, .second-option-title, .third-option-title, .fourth-option-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 105px;
}

.second-option-title, .fourth-option-title {
    color: #fff;
}