.header {
    position: relative;
    width: 100%;
}

.header::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/Sections_background/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    filter: contrast(80%) brightness(110%);
}

.navbar-wrapper {
    position: relative;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(94, 93, 88, 0.6);
}

.navbar {
    display: flex;
    gap: 21px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.6);
    transition: .4s;
}

.nav-link:hover {
    color: #18CFAB;
    text-decoration: underline;
    text-underline-offset: 52px;
}

.header-content {
    position: relative;
    padding-top: 266px;
    padding-bottom: 243px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 35px;
    text-transform: uppercase;
    color: #FFF;
}

.title span {
    color: #18CFAB;
}

.main-title {
    margin: 22px 0;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 78px;
    line-height: 78px;
    text-transform: uppercase;
    color: #FFF;
}

.title-description {
    margin-bottom: 130px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 34px;
    color: #D4D4D4;
}

.header-buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.button-wrapper {
    position: relative;
}

.white-rectangle {
    width: 169px;
    height: 60px;
    background-color: #fff;
    border-radius: 5px;
}

.green-button {
    position: absolute;
    width: 169px;
    height: 60px;
    top: 5px;
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    
    
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;    
    color: #FFFFFF;
    transition: .2s;
}

.blue-button {
    position: absolute;
    width: 169px;
    height: 60px;
    top: 5px;
    border: none;
    background-color: #00CBF6;
    border-radius: 5px;

    
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;    
    color: #FFFFFF;
    transition: .2s;
}

.button-wrapper:hover .green-button,.button-wrapper:hover .blue-button {
    top: -5px;
}