.logo-wrapper {
    position: relative;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 58px;
    height: 67px;
}

.logotype {
    position: absolute;
    top: 18px;
    left: 13px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 31px;
    color: #FFF;
}

.logo-text {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.logo-text span {
    color: #18CFAB;
    font-weight: 700;
}