.news {
    width: 100%;
    padding: 82px 0 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-title {
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    color: #4E4E4E;
}

.news-card-wrapper {
    width: 1160px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 45px 35px;
}

.news-card {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}


.news-date-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #203E38;
    transition: .1s;
}

.news-day-number, .news-month {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.news-card-img {
    width: 100%;
    transition: 0.1s;
}

.news-card-title {
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17.9885px;
    line-height: 39px;
    color: #717171;
    transition: .1s;
}

.news-card-description {
    padding-left: 15px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.991px;
    line-height: 39px;
    color: #777777;
}

.news-card-link:hover .news-date-wrapper {
    background-color: #18CFAB;
}

.news-card-link:hover .news-card-title {
    color: #18CFAB;
}
