.purchase {
    position: relative;
    width: 100%;
    padding-top: 126px;
    padding-bottom: 127px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.purchase::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url(../img/Sections_background/section-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(100%) brightness(20%);
}

.purchase-title {
    position: relative;
    margin-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}

.purchase-description {
    position: relative;
    margin-bottom: 62px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    color: #D8D8D8;
}