.services-wrapper {
    padding-top: 83px;
    padding-bottom: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-title {
    margin-bottom: 100px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center ; 
    color: #4E4E4E;
}

/* .services-title::after {
    content: '';
    display: block;
    width: 75px;
    height: 1px;
    background-color: #18CFAB;
} */

.services {
    width: 1160px;
    height: 238px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.services-navbar {
    height: 72px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
}

.services-nav-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15.9859px;
    line-height: 39px;
    text-align: center;
    color: #717171;
    background-color: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
    /* transition: .1s; */
}

.services-nav-tab:hover {
    border: 1.5px solid #18CFAB;
}

.services-nav-tab.active {
    position: relative;
    color: #FFFFFF;
    background-color: #18CFAB;
}

.services-nav-tab.active::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: -10px;
    transform: rotate(45deg);
    background-color: #18CFAB;
}

.services-article-item {
    display: none;
}

.services-article-item.active {
    display: flex;
    gap: 15px;
}

.services-img {
    width: 193px;
    height: 139px;
}

.services-article {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 13.645px;
    line-height: 24px;
    color: #777777;
}