@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url(./reset.css);
@import url(./logotype.css);
@import url(./four_options.css);
@import url(./header.css);
@import url(./services.css);
@import url(./purchase.css);
@import url(./works.css);
@import url(./news.css);
@import url(./feedbacks.css);

.footer {
    width: 100%;
    padding: 48px 0;
    background-color: #22353F   ;
}

.copyright {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #AEAEAE;
}

.copyright span {
    color: #18CFAB;
}