.works {
    padding: 95px 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E9EDEF;
}

.works-title {
    margin-bottom: 97px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #4E4E4E;
}

.works-navbar {
    display: flex;
    height: 58px;
}

.works-navbar-link {
    box-sizing: content-box;
    min-width: 79px;
    height: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 42px;
    color: #717171;
    cursor: pointer;
}

.works-navbar-link.active {
    color: #18CFAB;
    border: 2px solid #18CFAB;
}

.works-cards-wrapper {
    width: 1160px;
    margin: 70px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 210px);
    grid-auto-rows: 210px;
}

.works-card-wrapper {
    display: none;
}

.works-card-wrapper.active {
    display: block;
}

.works-card-img {
    width: 100%;
    height: 100%
}


.works-card-hover {
    display: none;
}

.card-line {
    width: 100%;
    height: 2px;
    background-color: #18CFAB;
}

.circles-wrapper {
    padding-top: 48px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #18CFAB;
    border-radius: 30px;
    transition: .2s;
}

.works-card-title {
    margin-top: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: #18CFAB;
}

.works-card-description {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.works-card-wrapper:hover .works-card-hover {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.works-card-wrapper:hover .works-card {
    display: none;
}

.circle:hover {
    background-color: #18CFAB;
}

.circle:hover .square-svg rect, .circle:hover .circle-svg path {
    fill: #fff;
}

.button-load-more {
    width: 168px;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #18CFAB;
    border: none;
    border-radius: 5px;
}

.button-load-more-title {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    color: #FFFFFF;
}
